.*~
src_f90/*~
src_f90/*.mod
src_f90/*.o
src_f90/dyn*
src_f90/basic_dynamicsv3.f90
src_lmp/*~
src_f90/charge.txt
src_py/__pycache__/
src_lmp/jobmain_long_var.sh
src_lmp/jobmain_var.sh
src_f90/lmp_input.dat
src_lmp/*.sh
src_f90/*.log
src_matpy/*~
src_matpy/analyze_tacf.*
